.scrolling {
	animation: 15s linear infinite slide;
}

.notScrolling div:last-child {
	margin-right: 0;
}

@keyframes slide {
	0% {
		transform: translateX(-2.5%);
	}
	100% {
		transform: translateX(47.5%);
	}
}
