.scrolling {
	animation: 15s linear infinite slide;
}

.notScrolling div:last-child {
	margin-right: 0;
}

@keyframes slide {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(50%);
	}
}
