.row div:last-child {
	margin-right: 0;
}

.dragging > div > div:last-child,
.scrolling > div > div:last-child {
	margin-right: 0.5rem;
}

.scrolling {
	animation: 15s linear infinite slide;
}

@keyframes slide {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(50%);
	}
}

@media (min-width: 640px) {
	.dragging > div > div:last-child,
	.scrolling > div > div:last-child {
		margin-right: 1rem;
	}
}
