@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
	padding: 0;
	margin: 0;
	height: 100%;
	box-sizing: border-box;
	font-family: 'Red Hat Display';
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}

.buttonContainer {
	@apply w-auto items-center justify-between rounded-lg border-[1px] border-slate-700 border-opacity-5 bg-slate-300 bg-opacity-5 p-4 shadow-lg;
}

.buttonArrowContainer {
	@apply absolute top-[-25%] h-full w-full;
}

.navLinkUnderline {
	@apply absolute bottom-[-0.25rem] left-0 h-1 w-full rounded-full bg-slate-300 dark:bg-white;
}

.aboutText {
	@apply max-w-[80%] text-xs opacity-60 sm:max-w-full tall:text-sm;
}

.projectGridMember {
	@apply relative col-span-3 h-full w-full overflow-hidden rounded-lg shadow-gridMemberLight dark:shadow-gridMemberDark;
}

.experienceListMember {
	@apply flex flex-col items-center justify-between sm:flex-row;
}

.experienceListMemberImage {
	@apply mb-16 flex h-16 w-full max-w-[4rem] items-center justify-center rounded-full border-2 border-[rgba(255,255,255,0.5)] bg-slate-300 bg-opacity-20 p-2 drop-shadow-mediumDark dark:border-[rgba(255,255,255,0.1)] dark:bg-inherit dark:shadow-thick sm:mr-8 sm:mb-0;
}
